.DateAndName {
  display: flex;
  gap: 10px;
  margin-left: 30px;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}
.is-active {
  color: blueviolet;
}
.secheader {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.secheader div {
  width: 50%;
  margin: auto;
  text-align: center;
}

.fotterCon {
  text-align: center;
}

.FooterContainer {
  line-height: 4px;
  /* font-size: 1 4px; */
  font-weight: bold;
}
