.DateAndName {
  display: flex;
  gap: 10px;
  margin-left: 30px;
  font-weight: bold;
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}
.is-active {
  color: blueviolet;
}
.secheader {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.secheader div {
  width: 50%;
  margin: auto;
  text-align: center;
}

.fotterCon {
  text-align: center;
}

.FooterContainer {
  line-height: 4px;
  /* font-size: 1 4px; */
  font-weight: bold;
}

@media screen and (max-width :420px) {
  .DateAndName {
    width: 100%;
    display: flex;
    gap: 5px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 17px;
    font-family: "Times New Roman", Times, serif;
  }

  
  .secheader div {
    width: 100%;
  }
  .fotterCon {
   line-height: 15px;
  }
  .FooterContainer {
    line-height: 14px;
    /* text-align: justify; */
    /* font-size: 1 4px; */
    font-weight: bold;
  }
  
}

@media screen and (min-width :420px) and (max-width :768px) {
  .DateAndName {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-left: 20px;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
  }
.nameDAta,
.dateDAta{
  padding-top: 5px;
}
  
  .secheader div {
    width: 100%;
  }
  .fotterCon {
   line-height: 5px;
  }
  .FooterContainer {
    line-height: 5px;
    font-size: 20px;
    font-weight: bold;
  }
  
}