.HeaderContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 7px;
    height: 80px;
}
.HeaderText{
    font-size: 30px;
    font-weight: bold;
}